body{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.display{
    height: 10vh;
    border: 1px solid red;
}

.solution{
    height: 5vh;
    border: 1px solid red;
}