body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    min-height: 100vh;
}

button {
    cursor: pointer;
    border: 1px solid black;
    color: white;
    outline: none;
    background-color: rgba(128, 128, 128, 50%) ;
    font-size: 2rem;
}

button:hover {
    background-color: rgba(128, 128, 128, 90%);
}

.operator {
    background-color: rgba(255, 128, 0, 80%);
}

.operator:hover {
    background-color: rgba(255, 128, 0, 100%);
}

.double {
    grid-column: span 2;
}

.display {
    grid-column: 1/ -1;
    background-color: rgba(0, 0, 0, 50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-self: space-around;
    padding: 16px;
    word-wrap: break-word;
    word-break: break-all;
}

.current {
    font-size: 2rem;
    color: white;
}

.previous {
    font-size: 1.5rem;
    color: rgb(204, 204, 204);
}

.result {
    height: 50%;
}